<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<button class="btn btn-md btn-warning btn-block" type="Submit">ADMINISTRADOR RESTAURANTE</button>
<div id="menu">
    <ul>
        <li><a th:href="${'/logout'}">Logout</a></li>
        <li><a th:href="${'/choices'}" align="middle" style="text-decoration: none;" >Opciones</a></li>
        <li><a th:href="${'/adminr/restaurants'}">Restaurants</a></li>
    </ul>
</div>

</body>

</html>
