<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Mostrar Pedido</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


<body>
            <div class="container">

                <button class="btn btn-md btn-warning btn-block" type="Submit">Pedido</button>
                <table class="table table-striped">
                    <tr>
                        <th> Nombre </th>
                        <th> Precio </th>
                        <th> Direccion </th>
                        <th> Restaurante </th>
                    </tr>
                    <tr>
                        <td th:text="${pedido.nombre_Pedido}">   </td>
                        <td th:text="${pedido.precio_Pedido}">   </td>
                        <td th:text="${pedido.direccion}">   </td>
                        <td th:text="${choice.category_restaurant.name}"> </td>
                    </tr>
                </table>

            </div>
</body>


</html>