<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">NEW PEDIDO</h2>

    <div>
        <form class="form-horizontal" th:object="${pedido}" th:action="@{/pedido}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label"> Nombre :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nombre_Pedido}"/>
                </div>
            </div>

            <!--
            <b>ID: </b><p th:text="${users.id}"></p>

            <input type="hidden" th:field="*{users.id}"/>
            -->


            <div class="form-group">
                <label class="col-sm-2 control-label">USUARIO:</label>
                <div class="col-sm-10">
                    <select th:field="*{id_user}">
                        <option th:each="id_user: ${users}"
                                th:value="${id_user.id}"
                                th:text="${id_user.name}">
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Restaurante :</label>
                <div class="col-sm-10">
                    <select th:field="*{category_restaurant}">
                        <option th:each="category_restaurant : ${restaurants}"
                                th:value="${category_restaurant.id}"
                                th:text="${category_restaurant.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Opciones :</label>
                <div class="col-sm-10">
                    <select th:field="*{category_choice}">
                        <option th:each="category_choice : ${choices}"
                                th:value="${category_choice.id}"
                                th:text="${category_choice.nombre_Opcion}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Zona :</label>
                <div class="col-sm-10">
                    <select th:field="*{zona_pe}">
                        <option th:each="zona_pe : ${zonas}"
                                th:value="${zona_pe.id}"
                                th:text="${zona_pe.nombrezona}"></option>
                    </select>
                </div>
            </div>
            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label"> Precio :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{precio_Pedido}"/>
                </div>
            </div>
            -->

            <div class="form-group">
                <label class="col-sm-2 control-label"> Calle :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{direccion}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"> Numero de casa :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{numcasa}"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label"> ZipCode :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{zipcode}"/>
                </div>
            </div>




            <div class="row">

                <button class="btn btn-md btn-warning btn-block" type="Submit">Confirmar Pedido</button>
            </div>




        </form>
    </div>
</div>
</body>
</html>